recursive-include src *
recursive-include utils *
recursive-include examples *
recursive-include tests *.py *.jpg

recursive-exclude libexiv2* *
recursive-exclude src/doc/api *

include CHANGELOG.txt LICENSE *.rst
